<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="CS_ODEV3" connectionString="server=localhost;database=odev3;user=sa;password=1234"/>
        <add name="CS_NORTHWND" connectionString="server=localhost;database=NORTHWND;user=sa;password=1234"/>
    </connectionStrings>
</configuration>